{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
  <h2>Empleados</h2>
  <a href="/employees/new/" class="btn btn-primary">Nuevo Empleado</a>
  </div>
<table class="table table-striped">
  <thead>
    <tr><th>ID</th><th>Nombre</th><th>Documento</th><th>Rol</th><th>Tipo Prof.</th><th>Área</th><th>Oficina</th><th></th></tr>
  </thead>
  <tbody>
    {% for it in items %}
    <tr>
      <td>{{ it.id }}</td>
      <td>{{ it.full_name }}</td>
      <td>{{ it.document_id }}</td>
      <td>{{ it.role }}</td>
      <td>{{ it.professor_type }}</td>
      <td>{{ it.area.name }}</td>
      <td>{{ it.office.code }}</td>
      <td class="text-end">
        <a class="btn btn-sm btn-outline-secondary" href="/employees/{{ it.id }}/edit/">Editar</a>
        <a class="btn btn-sm btn-outline-danger" href="/employees/{{ it.id }}/delete/">Eliminar</a>
      </td>
    </tr>
    {% empty %}
    <tr><td colspan="8" class="text-center">Sin datos</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

